# Dependencies
node_modules/
**/node_modules/

# Build outputs
build/
dist/
**/build/
**/dist/
coverage/

# Env files
.env
.env.*
**/.env*

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Lockfiles
package-lock.json
**/package-lock.json
pnpm-lock.yaml
yarn.lock

# Framework outputs
.next/
out/

# Logs
*.log
